@keyframes heart-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes sparks-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s 0.1s ease-in forwards;
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity 0.3s 0.3s ease-in forwards;
}