/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wdth' var(--body-font-weight);
  background-image: var(--background-gradient);
  background-size: cover;
}

.type-block {
  inline-size: var(--inline-size);
  background-color: #fff;
  border: 2px solid #000;

}

.header {
  margin: 100px auto 96px;
  font-family: var(--accent-font), sans-serif;
  text-transform: uppercase;
  padding: var(--header-padding-vertical) var(--header-padding-horizontal);

}

.header-title {
  font-size: var(--header-title-size);
  margin-bottom: 20px;
  text-align: center;
}

.header-description {
  font-size: var(--header-description-size);
  text-align: center;
}

.main-block {
  margin: 50px auto 0px;
}

.card-image {
  inline-size: 100%;
  aspect-ratio: 1 / 1; 
  object-fit: cover;
  object-position: right;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-bottom: 23px;
}

.card-image-container {
  position: relative;
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  color: transparent;
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports ((text-stroke: 1px var(--label-border)) or 
           (-webkit-text-stroke: 1px var(--label-border))) {
  .label {
    text-stroke: 1px var(--label-border);
    -webkit-text-stroke: 1px var(--label-border);
  }
}

.main-block-title {
  min-block-size: 30px;
  padding: 4px 10px;
  font-variation-settings: 'wdth' var(--title-font-weight);
}

.main-block-text {
  padding: 0px 27px 24px;
  font-size: 19px; /*18px мало, не походит на макет*/
  line-height: 21px;
}

.card-buttons {
  display: flex;
  margin-right: 25px;
  justify-self: right;
  align-self: center;
  gap: 12px;
  padding-bottom: 25px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  padding: auto;
}

.card__like-button {
  background-color: transparent;
  border: 2px solid #000;
  inline-size: 130px;
  block-size: 38px;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
}

.button-save {
  margin: auto;
  inline-size: 335px;
  block-size: 55px;
}
