.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--body-font-weight);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.type-block {
  inline-size: var(--inline-size);
  background-color: #fff;
  border: 2px solid var(--accent-color);
}

.header {
  margin: 100px auto 96px;
  font-family: var(--accent-font), fantasy;
  text-transform: uppercase;
  padding: var(--header-padding-vertical) var(--header-padding-horizontal);
}

.header-title {
  font-size: var(--header-title-size);
  margin-bottom: 20px;
  text-align: center;
}

.header-description {
  font-size: var(--header-description-size);
  text-align: center;
}

.main-block {
  margin: 50px auto 0px;
}

.card-image {
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: right;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  margin-bottom: 23px;
}

.card-image-container {
  position: relative;
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  color: transparent;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow:
    1px 1px 0 var(--label-border),
    -1px -1px 0 var(--label-border),
    1px -1px 0 var(--label-border),
    -1px 1px 0 var(--label-border);
}

@supports (
  (text-stroke: 1px var(--label-border)) or
    (-webkit-text-stroke: 1px var(--label-border))
) {
  .label {
    text-shadow: none;
    text-stroke: 1px var(--label-border);
    -webkit-text-stroke: 1px var(--label-border);
  }
}

.main-block-title {
  padding: 4px 10px;
  font-variation-settings: "wght" var(--title-font-weight);
  font-size: 18px;
}

.main-block-text {
  padding: 0px 27px 24px;
  font-size: 18px;
  line-height: 21px;
}

.card-buttons {
  display: flex;
  margin-right: 25px;
  justify-self: right;
  align-self: center;
  gap: 12px;
  padding-bottom: 25px;
}

.button-save {
  display: flex;
  margin: 50px auto 100px;
  inline-size: 335px;
  block-size: 55px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  border: 2px solid var(--accent-color);
  background-color: var(--main-color);
  overflow: hidden;
  cursor: pointer;
}

.button__text {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--main-color);
  mix-blend-mode: difference;
}

.floppy {
  width: 21px;
  height: 21px;
  flex-shrink: 0;
  z-index: 2;
  mix-blend-mode: difference;
}

.button {
  background-color: var(--main-color);
  transition: border 0.3s ease;
  cursor: pointer;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  position: relative;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: none;
  background-color: var(--main-color);
  cursor: pointer;
  font-family: var(--accent-font), fantasy;
  inline-size: 39px;
}

.card__like-button {
  border: 2px solid var(--accent-color);
  inline-size: 130px;
  block-size: 38px;
}

.dialog-button {
  block-size: 38px;
}

.heart {
  transform-origin: center;
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-duration: 0.3s;
  transition-delay: 0.06s;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000000;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.button:hover::before {
  transform: scaleX(1);
}

.filter-contrast {
  filter: contrast(0.9);
}

.filter-brightness {
  filter: brightness(0.85);
}

.filter-opacity {
  filter: opacity(0.8);
}

.filter-grayscale {
  filter: grayscale(1);
}

.filter-sepia {
  filter: sepia(100%);
}

.filter-saturate {
  filter: saturate(0.75);
}

.filter-hue-rotate {
  filter: hue-rotate(10deg);
}

dialog {
  position: fixed;
  inset: 0;
  font-family: var(--accent-font), fantasy;
}

dialog[open] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding: 28px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog-floppy {
  width: 38px;
  height: 38px;
  flex-shrink: 0;
}

.dialog-title {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 150%;
}

.dialog-text-row {
  display: flex;
  align-items: center;
  max-inline-size: 293px;
  gap: 20px;
}

@media (width <= 375px) {
  body .header {
    margin-bottom: 100px;
  }

  main .button-save {
    block-size: 84px;
    inline-size: 306px;
    padding: 17px 18px;
  }

  .button-save .button__text {
    display: flex;
    flex-direction: column;
  }

  .button-save .floppy {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
  }

  dialog[open] {
    padding: 30px 40px;
  }

  dialog[open] .floppy {
    width: 39px;
    height: 39px;
    flex-shrink: 0;
  }
}
