.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wdth" var(--body-font-weight);
  background-image: var(--background-gradient);
  background-size: cover;
}

.type-block {
  inline-size: var(--inline-size);
  background-color: #fff;
  border: 2px solid var(--accent-color);
}

.header {
  margin: 100px auto 96px;
  font-family: var(--accent-font), sans-serif;
  text-transform: uppercase;
  padding: var(--header-padding-vertical) var(--header-padding-horizontal);
}

.header-title {
  font-size: var(--header-title-size);
  margin-bottom: 20px;
  text-align: center;
}

.header-description {
  font-size: var(--header-description-size);
  text-align: center;
}

.main-block {
  margin: 50px auto 0px;
}

.card-image {
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: right;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  margin-bottom: 23px;
}

.card-image-container {
  position: relative;
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  color: transparent;
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports (
  (text-stroke: 1px var(--label-border)) or
    (-webkit-text-stroke: 1px var(--label-border))
) {
  .label {
    text-stroke: 1px var(--label-border);
    -webkit-text-stroke: 1px var(--label-border);
  }
}

.main-block-title {
  min-block-size: 30px;
  padding: 4px 10px;
  font-variation-settings: "wdth" var(--title-font-weight);
}

.main-block-text {
  padding: 0px 27px 24px;
  font-size: 19px; /*18px мало, не походит на макет*/
  line-height: 21px;
}

.card-buttons {
  display: flex;
  margin-right: 25px;
  justify-self: right;
  align-self: center;
  gap: 12px;
  padding-bottom: 25px;
}

.button-save {
  display: flex;
  margin: 50px auto 100px;
  inline-size: 335px;
  block-size: 55px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  border: 2px solid var(--accent-color);
  background-color: var(--main-color);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.button__text {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--main-color);
  mix-blend-mode: difference;
}

.floppy {
  width: 21px;
  height: 21px;
  flex-shrink: 0;
  z-index: 2;
  mix-blend-mode: difference;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  padding: auto;
  transition: border 0.3s ease;
  cursor: pointer;
}

.card__like-button {
  background-color: transparent;
  border: 2px solid var(--accent-color);
  inline-size: 130px;
  block-size: 38px;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  transition: box-shadow 0.3s ease;
  position: relative;
  cursor: pointer;
}

.heart {
  transform-origin: center;
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-duration: 0.3s;
  transition-delay: 0.06s;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  border-radius: 0;
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.card__like-button::before,
.button-save::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000000;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.card__like-button:hover::before,
.button-save:hover::before {
  transform: scaleX(1);
}

.image-lamp {
  filter: contrast(0.8);
}

.image-draw {
  filter: brightness(0.85);
}

.image-sleep {
  filter: opacity(0.8);
}

.image-reverse {
  filter: grayscale(1);
}

.image-team {
  filter: contrast(0.99);
}

.image-yurt {
  filter: sepia(100%);
}

.image-studying {
  filter: saturate(0.75);
}

.image-ahead {
  filter: hue-rotate(180deg);
}

.image-third-sprint {
  filter: brightness(0.99);
}

dialog {
  position: fixed;
  inset: 0;
  font-family: var(--accent-font), sans-serif;
}

dialog[open] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  block-size: 191px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog-floppy {
  width: 38px;
  height: 38px;
  flex-shrink: 0;
}

.dialog-title {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 150%;
}

.dialog-first-row {
  display: flex;
  align-items: center;
  max-inline-size: 293px;
  gap: 20px;
}

.dialog-button {
  block-size: 38px;
  background-color: #fff;
}
