:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P-Regular';
  --body-font-weight: 410;
  --title-font-weight: 715;
  --background-gradient: repeating-linear-gradient(90deg, #d3d3d3, transparent 2px),
                         repeating-linear-gradient(#d3d3d3, transparent 2px),
                         linear-gradient(#e7e7e7 0.01%, #1a1a1a 100%);
  --inline-size: clamp(375px, 100%, 700px);
  --header-title-size: clamp(3.0625rem, 2.6664rem + 1.6901vw, 4.1875rem);
  --header-description-size: clamp(0.875rem, 0.6549rem + 0.939vw, 1.5rem);
  --header-padding-vertical: clamp(122px, 122px + (8 * (100vw - 375px) / 1065), 130px);
  --header-padding-horizontal: clamp(16px, 16px + (106.5 * (100vw - 375px) / 1065), 122.5px);
  --label-border: rgba(255, 255, 255, 1);
  --main-color: #fff;
  --accent-color: #000;
}

@media (width <= 375px) {
  body .header {
    max-block-size: 327px;
    margin-bottom: 100px;
  }

  main .button-save {
    flex-direction: column;
    block-size: 84px;
    padding: 17px 20px;
  }

  .button-save .floppy {
  width: 28px;
  height: 28px;
  flex-shrink: 0; 
  }

  dialog[open] {
    padding: 30px 40px;
  }

  dialog[open] .floppy {
  width: 39px;
  height: 39px;
  flex-shrink: 0; 
  }
}